<h1 class="center">Add a New Drink</h1>

<div class="row">
  <form action="/drinks" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="drink_name" type="text" name="name" class="validate">
        <label for="drink_name">Drink Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="description" name="description" class="materialize-textarea"></textarea>
        <label for="description">Description</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="directions" name="directions" class="materialize-textarea"></textarea>
        <label for="directions">Directions</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="glass" type="text" name="glass" class="validate">
        <label for="glass">Glass Type</label>
      </div>
      <div class="input-field col s6">
        <input id="glassIcon" type="url" name="glassIcon" class="validate">
        <label for="glassIcon">Glass Icon</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="image" type="url" name="image" class="validate">
        <label for="image">Drink Image</label>
      </div>
      <div class="input-field col s2">
        <label for="alcohol">
          <input id="alcohol" type="checkbox" name="alcohol" class="filled-in" checked="checked">
          <span>Contains Alcohol?</span>
        </label>
      </div>
      <div class="range-field col s4">
        <input type="range" id="rating" name="rating" min="0" max="5" step="0.5" value="4" />
        <label for="rating">Star Rating</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
