<h1 class="center">Bartender</h1>

<img class="responsive-img" src="https://res.cloudinary.com/briezh/image/upload/v1578616116/cocktail-hero_rut8qe.jpg" alt="banner image cocktails on a bar">

<p class="center blue-grey-text"><strong>Bring out your inner creative genius!</strong></p>

<div class="row">
  <div class="col s12 m3">
    <img src="https://res.cloudinary.com/briezh/image/upload/v1578617053/manhattan_spq4lm.jpg" alt="Classic Drinks" class="responsive-img">
    <p class="center blue-grey-text">Old Classics</p>
  </div>
  <div class="col s12 m3">
    <img src="https://res.cloudinary.com/briezh/image/upload/v1578617053/new-recipes_hsaltc.jpg" alt="Recipes" class="responsive-img">
    <p class="center blue-grey-text">New Recipes</p>
  </div>
  <div class="col s12 m3">
    <img src="https://res.cloudinary.com/briezh/image/upload/v1578617054/shark-bite_k6obav.jpg" alt="Artistic Creations" class="responsive-img">
    <p class="center blue-grey-text">Artistic Creations</p>
  </div>
  <div class="col s12 m3">
    <img src="https://res.cloudinary.com/briezh/image/upload/v1578617407/expert_ojryt4.jpg" alt="Artistic Creations" class="responsive-img">
    <p class="center blue-grey-text">Expert Advice</p>
  </div>
</div>
