body {
  background-color: #ddd;
}

table {
  margin-bottom: 25px;
  border: 5px solid #ccc;
  border-radius: 5px;
  border-collapse: inherit;
}

h1 {
  color: #90a4ae !important;
  font-size: 3em;
}

.closeable {
  cursor: pointer;
}

.icon {
  width: 70px;
  height: 70px;
  margin-top: 1em;
}

.my-carousel {
  margin: 0 auto;
  max-width: 300px;
}

.my-carousel img {
  max-height: 300px;
  width: auto;
}
